.rating {
	@extend %sans-serif;
	width: 30px;
	height: 30px;
	padding-top: 3px;
	border: 2px solid currentColor;
	border-radius: 50%;
	font-size: 13px;
	font-weight: 600;
	text-align: center;

	@include query-cards() {
		width: 26px;
		height: 26px;
		font-size: 11px;
		padding-top: 2px;
	}
}
