@import "0-settings/default";

.lwa-modal {
	// position: fixed;
	// top: 40%;
	// top: calc(50% - 200px);
	z-index: 1201;

	width: 360px;
	margin-left: -180px;
	padding: 32px;

	-webkit-font-smoothing: antialiased;

	.lwa-modal-close {
		display: none;
	}

	&[style*="hidden"] {
		display: none !important;
	}

	label {
		color: $gray;
	}
}

.lwa-modal-bg {
	z-index: 1200;
}

.lwa-form {
	display: none;
	height: auto !important;
	flex-direction: column;

	font-size: 14.95px;

	&.form-visible {
		display: flex !important;
	}

	p {
		order: 1;
		margin-bottom: 12px;
	}

	p:last-child {
		margin-bottom: 0;
	}

	.oneall_social_login, .wc-social-login, .wp-social-login-widget {
		position: relative;

		padding-bottom: 19px;
		margin-bottom: 23px;

		border-bottom: 1px solid $borders-alt;
	}

	.wc-social-login {
		&:after {
			content: attr(data-string);
			position: absolute;
			bottom: -20px;
			left: 50%;

			display: inline-block;
			padding: 10px;

			font-weight: 600;
			text-align: center;

			color: #919191;
			background-color: white;
			transform: translateX(-50%);
		}

		p:first-child {
			display: none;
		}

		a:first-of-type {
			margin-top: 0;
		}

		.button-social-login {
			display: block;
			width: 100%;
			padding-top: 6px;
			padding-bottom: 6px;
			margin: 10px 0;

			font-size: 16px;
			font-weight: 400;
			text-align: center;

			border-radius: 4px;
			box-shadow: none;
			text-shadow: none;

			.si {
				position: absolute;
				left: 13px;
				top: 50%;
				transform: translateY(-50%);

				width: 2em;
				height: 2em;

				border: 0;
				border-radius: 50%;

				font-weight: 400;

				background-size: 1.4em 1.4em;

				text-shadow: 1px 1px 0 rgba(0,0,0,0.3);

				&.si-facebook,
				&.si-linkedin,
				&.si-instagram {
					background-size: 1.5em 1.5em;
					border-radius: 6px;
				}
			}
		}
	} // .wc-social-login

	.wp-social-login-provider-list {
		padding-left: 0;
		padding-right: 0;
	}

	.wp-social-login-connect-with {
		display: none;
	}

	.oneall_social_login {
		max-height: 110px;
		overflow-y: scroll;
	}

	.lwa-submit-wrapper {
		margin: 0;
	}

		button[type="submit"] {
			display: block;
			width: 100%;

			text-align: center;
			background-color: $dark;

			&:hover {
				background-color: $accent;
			}
		}

		.button-arrow {
			position: relative;

			&:after {
				content: "";

				position: absolute;
				top: 50%;
				right: -18px;
				transform: translateY(-50%);

				display: inline-block;
				width: 0;
				height: 0;

				border: 4px solid transparent;
				border-left: 4px solid white;
				pointer-events: none;
			}
		}

	label {
		display: block;
		margin-bottom: 7px;
	}

	.lwa-meta {
		margin-top: 6px;
		margin-bottom: 17px;
		height: 25px;
	}

	.lwa-bottom-text {
		margin-top: 25px;
		padding-top: 18px;
		border-top: 1px solid $borders-alt;

		text-align: center;
	}

	.lwa-action-link {
		color: $accent;
	}
} // .lwa-form

.lwa-login {
	.remember-me-checkbox {
		margin: 0;
		margin-right: 10px;

		&:checked + label {
			color: black;
		}
	}

	.remember-me label {
		font-weight: 500;
		color: $gray;

		margin-bottom: 0;
		display: inline-block;
		vertical-align: middle;
	}

	.lost-password {
		text-align: right;
	}

	.lwa-show-remember-pass {
		display: inline-block;
		vertical-align: middle;

		font-size: 13px;
	}

	.lwa-links-register-inline {
		color: $accent;
	}
}

.lwa {
	margin-bottom: 0;
	
	.lwa-remember, .lwa-register {
		margin-top: 0;
	}
}

.lwa-remember {
	p {
		margin: 0;
	}

	.lwa-submit-wrapper {
		margin-top: 25px;
		margin-bottom: 20px;
	}

	.cancel-button-wrapper {
		a {
			text-align: center;
			display: block;
		}
	}
}

// Hide the holder div
#lwa-modal-holder {
	display: none;
}
