.entry-content table:not(.cart-totals):not(.ui-datepicker-calendar),
#job-manager-job-dashboard table {
	@extend %table;
	table-layout: auto;
	border-collapse: separate;
	width: 100%;
	background: white;
	border: 1px solid $borders;
	border-radius: 8px;
	border-spacing: 0;
	font-size: 14px;

	th {
		text-align: left;
		white-space: nowrap;
	}

	tr {
		border-bottom: 1px solid $borders;

		table > &:last-child,
		table > :last-child > &:last-child {
			border-bottom: 0;
		}
	}

	td, th {
		font-size: 14px;
		padding: 18px 10px;
		vertical-align: middle;

		&:first-child {
			padding-left: 20px;
		}

		&:last-child {
			padding-right: 20px;
		}
	}

	.order-actions {
		padding-top: 10px;
		padding-bottom: 10px;
	}

	td {
		color: $gray;
		height: 60px;

		a:not([class*="job-dashboard-action"]) {
			color: $dark;
		}
	}

	thead {

		th {
			font-size: 16px;
			padding-top: 22px;
			padding-bottom: 11px;
			font-weight: 600;
		}
	}

	tr + tr td,
	tr + tr th,
	thead + tbody tr:first-child td,
	thead + tbody tr:first-child th {
		border-top: 1px solid $borders;
	}

	// &:not(.job-manager-bookmarks) {

		@include query-below($lap) {
			border-collapse: collapse;

			thead {
				display: none;
			}

			tr {
				display: block;
				margin-bottom: 20px;
				padding-bottom: 10px;

				&:last-child {
					margin-bottom: 0;
					border-bottom: 0;
				}
			}

			td {
				display: block;
				text-align: left !important;
				height: auto;

				&:empty {
					display: none;
				}

				&[data-label]:before {
					content: attr(data-label) ":  ";
					color: $dark;
					font-weight: 600;
				}
			}

			td, th {
				padding-left: 20px;
				padding-right: 20px;
			}


			tr + tr td,
			thead + tbody tr:first-child td {
				border-top: 0;
			}
		}
	// }
}